
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key


node_modules/
jspm_packages/
web_hi_res_512.png
vendor/

dist/
build/
.next/
out/
bin/
obj/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs
pids
*.pid
*.seed
*.pid.lock

.vscode/
!.vscode/extensions.json
.idea/
*.ntvs*
*.njsproj
*.sln
*.swp

*.db
*.sqlite

.cache/
.serverless/