__pycache__/
*.py[cod]
*$py.class
.env
instance/
.pytest_cache/

venv/
.venv/
env/

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.DS_Store?
*~
*.swp

.vscode/
!.vscode/extensions.json
.idea/

*.log
logs/