<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_englet.png') }}"> 
    <title>Authentification - Adlis</title>
</head>
<body class = "auth-body">
    <!--tout le contenaire-->
    <div class="container" id="container">
        <!--le contenaire d'inscription-->
        <div class="form-container sign-up">
            <form>
                <h1>Crée un compte</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>Ou utilisez votre Email</span>
                <input type="text" placeholder="Nom">
                <input type="email" placeholder="Mail">
                <input type="password" placeholder="Mot de passe">
                <button>Inscription</button>
            </form>
        </div>

        <!--le contenaire de connexion-->
        <div class="form-container sign-in">
            <form>
                <h1>Conectez vous</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>Ou utilisez votre Email</span>
                <input type="email" placeholder="Mail">
                <input type="password" placeholder="Mot de passe">
                <a href="#">Mot de passe oublier?</a>
                <button>Conexion</button>
            </form>
        </div>

        <!--le Toggle-->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenue</h1>
                    <p>utilisez vos informations personnel</p>
                    <button class="hidden" id="login">se connecter</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>De retour!</h1>
                    <p>entrez vos informations personnel</p>
                    <button class="hidden" id="register">s'inscrire</button>
                </div>
            </div>
        </div>
    </div>

    <!--l'appelle du JS-->
    <script src="{{ url_for('static', filename='js/scripte.js') }}"></script>
</body>
</html>